h1 {
  font-size: 4.5rem;
  margin: 0;
  line-height: 120%;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  color: var(--accent-pink);
}

header h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  top: auto;
  background: var(--accent-2);
  height: auto;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

main {
  overflow-x: visible;
}

h3 {
  font-family: "ZXX", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

h4 {
  font-size: 5rem;
  font-family: "ZXX", sans-serif;
  text-transform: uppercase;
}

h4.ready {
  margin-top: 0;
}

h5 {
  text-align: left;
  font-size: 1.375rem;
  margin: 4rem 0 0 0;
  text-transform: uppercase;
}

#map {
  padding-bottom: 0;
}

.sub-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 2rem;
  background: var(--accent-dark-green);
}

.sub-nav .three-col {
  max-width: 1200px;
  margin: 0 auto;
}

.sub-nav p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.sub-nav a {
  text-decoration: none;
}

.sub-nav a:hover {
  color: var(--accent);
}

.number {
  --bg: var(--accent-2);
  --hover: var(--accent);
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid;
  border-radius: 100%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  background: var(--bg);
  font-family: "ZXX", sans-serif;
  display: inline-block;
}

.number:hover {
  background: var(--hover);
}

.number.pink {
  color: #fff;
  --bg: var(--accent-pink);
  --hover: var(--accent-pink-hover);
  border-color: var(--accent-pink-hover);
}

.number.dark-green {
  color: #fff;
  --bg: var(--accent-dark-green);
  --hover: var(--accent-dark-green-hover);
}

.highlight.dark-green {
  color: #fff;
  background: var(--accent-dark-green);
}

.descriptions {
  margin: 3rem auto;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 0 10rem 0;
}

.full-description {
  margin-top: 1rem;
  margin: 0 auto;
  max-width: 32rem;
}

.full-description p {
  margin: 1rem 0;
  max-width: 100%;
}

.full-description a {
  text-transform: none;
  background: inherit;
  text-decoration: underline;
}

.full-image {
  margin-top: 4rem;
}

.full-image img {
  margin: 0 auto;
  max-height: 50rem;
  min-height: 10rem;
}

.descriptions a {
  font-size: inherit;
  padding: unset;
}

.artist-info,
.full-image {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.artist-info {
  position: sticky;
  top: 2rem;
  backdrop-filter: blur(30px);
  padding: 0.5rem 1rem;
  margin-bottom: 4rem;
}

.artist-info > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2rem 3fr 3fr 3fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 54rem;
}

a.number {
  margin: 0;
  transform: none;
  text-decoration: none;
}

.artist-info p {
  margin: 0;
}
.artist-info .highlight {
  line-height: 180%;
}

.lineup {
  text-align: left;
  padding: 0;
  max-width: 60em;
  margin: 0 0 4rem auto;
  width: 100%;
}

.lineup ul {
  margin: 0;
  padding: 0;
}

.lineup li {
  padding: 0;
  text-align: left;
  margin: 1rem 0;
  list-style: none;
  font-size: 1.25rem;
}

.lineup h5 {
  padding: 1rem;
  margin: 0;
  display: inline-block;
}

.performers p {
  margin: 0;
  padding: 1.5rem 0;
  display: inline-block;
  margin-right: 1rem;
  margin: 0;
}

.performers .two-col {
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: 3fr 5fr;
}

.performers .two-col div:last-child {
  margin-top: 2.5em;
}

.performers .two-col div:last-child p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.performances .highlight {
  color: #fff;
  background: var(--accent-pink);
  border-color: var(--accent-pink-hover);
}
.performers .number {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  flex: 1.875rem 0 0;
}

.performers em {
  font-family: "ZXX", sans-serif;
  font-size: 0.75em;
  display: inline-block;
  margin-top: 0.5rem;
  line-height: 120%;
}

#descriptions h4 {
  padding-top: 5rem;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }

  h4,
  h4.ready {
    font-size: 2.5rem;
    font-family: "ZXX", sans-serif;
  }

  header h2 {
    word-break: break-word;
    width: 10ch;
    text-align: left;
  }

  header {
    justify-content: space-between;
  }
  #program .artists p {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .full-image,
  .full-image img {
    margin: 0;
  }

  .descriptions li > div:first-child img {
    grid-row: span 2;
  }
  section p,
  .descriptions p,
  .sans {
    line-height: 140%;
    font-size: 1.125rem;
  }
  .descriptions {
    padding: 1rem;
    margin-top: 4rem;
  }

  .artist-info {
    padding: 1rem;
    margin: 0 -1.5rem 4rem -1.5rem;
  }

  .full-image {
    margin: 0 -1.5rem;
  }

  .artist-info > div {
    grid-template-columns: 2rem 3fr 3fr !important;
    row-gap: 0.5rem;
  }

  .artist-info .highlight {
    line-height: 150%;
  }

  .artist-info p:last-child {
    grid-column: span 3;
    margin-left: 3rem;
  }

  .highlight {
    padding: 0.375rem 0;
  }

  .performers .two-col div:last-child {
    margin-top: 0;
  }

  .performers .two-col div:last-child p {
    justify-content: flex-start;
  }

  .lineup .two-col {
    gap: 1rem;
  }
}
