h1 {
  font-size: 8rem;
}

.hero h2 {
  font-size: 1.25rem;
  margin: 0 3rem;
}

.hero {
  height: auto;
}

main {
  overflow-x: visible;
}

h5 {
  text-align: left;
  font-size: 1rem;
  margin: 3rem 0 0 0;
}

.floor-plan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0.5rem 2.5rem 4rem 2.5rem;
}

.gallery {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gallery > img {
  display: block;
  border: 2px solid #666;
}

.hover-zone {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.hover-zone a {
  position: absolute;
  cursor: pointer;
  background: unset;
}

.hover-zone .content {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  max-width: 25rem;
  width: max-content;
  background: #fff;
  padding: 1rem;
  z-index: 100;
  border: 1px solid;
}

.gallery:last-child .content {
  right: auto;
  left: 1rem;
}

.content {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.content .number {
  margin: 0;
  transform: none;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.content p {
  text-transform: none;
  margin: 0;
}
/* .content p:nth-last-child(3),
.content p:last-child {
    text-align: right;
}
.content p:nth-last-child(3),
.content p:nth-last-child(2) {
    grid-column: span 2;
} */

.content p:last-child {
  grid-column: span 2;
}

.content img {
  grid-column: span 2;
}

.content em,
.descriptions em {
  font-weight: bold;
  font-style: normal;
}

.hover-zone a:hover .content {
  display: grid;
}

.number {
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid;
  border-radius: 100%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin: -2rem auto 0 auto;
  background: var(--accent-2);
  transform: translate(-0.5rem, 0);
  font-family: "ZXX", sans-serif;
  display: inline-block;
}

.number:hover {
  background: var(--accent);
}

/* FLOOR 1 */

[href="#glitching-sinkholes"] {
  top: 11%;
  left: 28%;
}

[href="#intimate-commons"] {
  top: 30%;
  left: 30%;
}

[href="#soft-links"] {
  top: 38%;
  left: 12%;
}

[href="#night-walks"] {
  top: 58%;
  left: 14%;
}

[href="#diatribes"] {
  top: 56%;
  left: 8%;
}

[href="#aeolian-tree"] {
  top: 79%;
  left: 8%;
}

[href="#kirigami-antennas"] {
  top: 80%;
  left: 13%;
}

[href="#mammon-exe"] {
  top: 90%;
  left: 4%;
}

[href="#let-yourself-leak-a-little"] {
  top: 63%;
  left: 23%;
}

[href="#mylove"] {
  top: 71%;
  left: 32%;
}

[href="#blur"] {
  top: 68%;
  left: 41%;
}

[href="#outsidein-khandaq"] {
  top: 71%;
  left: 59%;
}

[href="#siren-speaks"] {
  top: 71%;
  left: 77%;
}

[href="#the-palace"] {
  top: 66%;
  left: 88%;
}

[href="#light-quilt"] {
  top: 56%;
  left: 68%;
}

/* FLOOR 2 */

[href="#am-i-alive"] {
  top: 26%;
  left: 23%;
}

[href="#is-it-listening"] {
  top: 26%;
  left: 10%;
}

[href="#dreams-of-transformation"] {
  top: 37%;
  left: 16%;
}

[href="#radiant-center"] {
  top: 32%;
  left: 28%;
}

[href="#soft-infrastructures-for-falling-worlds"] {
  top: 64%;
  left: 7%;
}

[href="#numbstation"] {
  top: 83%;
  left: 5%;
}

[href="#altar-of-interdimensional-entanglements"] {
  top: 64%;
  left: 16%;
}

[href="#the-hug"] {
  top: 54%;
  left: 29%;
}

[href="#last-one-standing"] {
  top: 71%;
  left: 29%;
}

[href="#pattern-254-tetrapods"] {
  top: 83%;
  left: 29%;
}

[href="#something-to-say-about-it-all"] {
  top: 77%;
  left: 37%;
}

[href="#in-the-cloud"] {
  top: 64%;
  left: 46%;
}

[href="#for-all-earthkind"] {
  top: 64%;
  left: 62%;
}

[href="#bug-in-my-software"] {
  top: 64%;
  left: 77%;
}

.descriptions {
  max-width: 44rem;
  margin: 5rem auto;
  padding-inline-start: unset;
  padding: 0 2.5rem;
}

.descriptions > li {
  list-style: none;
  margin: 0 0 10rem 0;
}

.full-description {
  margin-top: 1rem;
}

.full-description p {
  margin: 1rem 0;
  max-width: 100%;
}

.full-description img {
  max-width: 100%;
  max-height: 40rem;
  margin: 3rem auto 0 auto;
}

section p,
.descriptions p,
.sans {
  font-size: 1rem;
}

.descriptions a {
  font-size: inherit;
  padding: unset;
}

.artist-info {
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
  padding: 0.5rem 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2rem 3fr 3fr 3fr;
  align-items: center;
  margin: 0 -1rem;
}

.artist-info .number {
  margin: 0;
  transform: none;
}

.artist-info p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  #program .artists p {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .full-description img {
    max-width: 100%;
  }

  .hover-zone a:hover .content {
    display: none;
  }

  .descriptions li > div:first-child img {
    grid-row: span 2;
  }
}
@media screen and (max-width: 800px) {
  .floor-plan {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
  .descriptions {
    padding: 1rem;
    margin-top: 4rem;
  }
}
